<div class="groupeNav">
  <h3><em><%= @groupe.name if @groupe %></em></h3>
  <hr>
  <br>
  <%= link_to "Photos", photos_path %>
  <%= link_to "Calendrier", photos_path %>
  <%= link_to "Membres", photos_path %>
</div>
