<nav class="navbar">
    <h1 class="nav_titre"> <%= link_to home_path do %> Maxapps <% end %> </h1>
    <div class="nav_links">
      <ul>
        <li> <%= link_to new_user_registration_path do %> inscription <% end %> </li>
        <li> <%= link_to new_user_session_path do %> connection <% end %> </li>
      </ul>
    </div>
</nav>
