.groupeNav {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #46555C;
  left: 0;
  padding-top: 20px;
  color: #F3F5F6;
  h3 {
    text-align: center;
  }
  a {
    display: block;
    padding: 6px 6px 6px 40px;
  }
  a:hover {
    background-color: #F3F5F6;
    color: #46555C;
  }
  .logo-groupe-nav {
    display: flex;
    justify-content: center;
  }
}


