.groupeNav {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #46555C;
  left: 0;
  padding-top: 20px;
  color: #F3F5F6;
  h3 {
    padding: 6px 6px 6px 32px;
  }
  a {
    display: block;
    padding: 6px 6px 6px 32px;
  }
}
