.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #344147;
}

.nav_titre {
  font-size: 1.7rem;
  margin: .5rem;
  padding-left: 1rem;
  a {
    color: #F3F5F6;
  }
}

.nav_left {
  display: flex;
  align-items: center;
  p {
    font-style: italic;
    font-size: 1rem;
    padding-left: 3rem;
    color: #F3F5F6;
  }
}

.online {
  color: #39b27a;
}

.nav_center {
  font-size: 1.3rem;
  font-weight: bold;
  color: #F3F5F6;
}

.nav_right ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_right li {
  list-style: none;
  font-size: 1.1rem;
}

.nav_right li a {
  color: #F3F5F6;
  padding: 1rem;
  display: block;
}

.nav_right li:hover {
  background-color: #F3F5F6;
  a {
  color: #344147;
  }
}

