.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #344147;
  height: 64px;
  width: 100%;
}

.nav_titre {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
  left: 0;
  width: 200px;
  height: 64px;
  text-align: center;
  a {
    color: #ffe74c;
  }
}

.nav_titre:hover {
  background-color: #46555C;
}

.nav_left {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  p {
    margin: 0;
    padding: 0;
    color: #F3F5F6;
  }
  a {
    font-size: 2.1rem;
    font-weight: bold;
  }
  .user {
    font-style: italic;
    padding-left: 16px;
  }
}

.online {
  color: #39b27a;
  font-family: 'Josefin Sans', sans-serif;
}

.nav_right ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_right li {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  height: 64px;
  width: 200px;
}

.nav_right li a {
  color: #F3F5F6;
  padding: 1.1rem;
  display: block;
}

.nav_right li:hover {
  background-color: #F3F5F6;
  a {
  color: #344147;
  }
}

