.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #344147;
  top: 0;
  height: 64px;
}

.nav_titre {
  font-size: 1.4rem;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  left: 0;
  width: 200px;
  text-align: center;
  a {
    color: #ffe74c;
  }
}

.nav_titre:hover {
  background-color: #46555C;
}
.nav_left {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  p {
    font-style: italic;
    font-size: 1rem;
    padding-left: 3rem;
    color: #F3F5F6;
  }
}

.online {
  color: #39b27a;
  font-family: 'Josefin Sans', sans-serif;
}

.nav_right ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_right li {
  list-style: none;
  font-size: 1.2rem;
  height: 64px;
  width: 200px;
}

.nav_right li a {
  color: #F3F5F6;
  padding: 1.1rem;
  display: block;
}

.nav_right li:hover {
  background-color: #F3F5F6;
  a {
  color: #344147;
  }
}

