.container-photo {
  h1 {
    text-align: center;
  }
  .gallery {
    .gallery-option {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 100px 10px 100px;
    }
    .gallery-img {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-template-rows: auto;
      grid-gap: 20px;
      justify-items: center;
      justify-content: space-evenly;
    }
  }
}
