.container {
display: flex;
justify-content: center;
  h2 {
    text-align: center;
  }
  .input {
    margin-bottom: 40px;
    input {
      width: 20vw;
      height: 3vh;
      font-size: 1.2rem;
    }
  }
  .bloc {
    a {
      margin-left: 20px;
    color: #2F4858;
    }
    .bouton {
      background-color: #344147;
      color: #F3F5F6;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 24px;
      text-decoration: none;
    }
    .bouton:hover {
      background-color: #46555C;
    }
  }
}


